@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #EBEBEB;
}

.main-header {
  display: flex;
  height: 90px;
  background-color: #222222;
  justify-content: center;
  align-items: center;
}

.main-header .title {
  color: #FFF;
  font-size: 36px;
  font-weight: 700;
}

.cars-form {
  padding: 50px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
}

.main-label > .text {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #222222;
  margin-bottom: 5px;
}

.main-label > .input {
  width: 100%;
  color: #222222;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #999999;
}

.main-label > .input:focus {
  border-color: transparent;
  outline: 2px solid #ED254E;
}

.main-label.-color {
  display: flex;
  align-items: center;
  background-color: #FFF;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid #999999;
}

.main-label.-color > .text {
  margin: 0;
  padding: 9px;
}

.main-label.-color > .color {
  background-color: transparent;
  appearance: none;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.main-label.-color > .color::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}
.main-label.-color > .color::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}

.main-button {
  font-weight: 700;
  color: #FFF;
  background-color: #ED254E;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  min-width: 150px;
  align-self: center;
  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.main-button:hover {
  background-color: #BD0F32;
}
