html {
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--light-gray-color);
}

.main-wrapper {
  display: flex;
  padding: 50px;
  justify-content: space-around;
}

.main-header {
  display: flex;
  height: 90px;
  background-color: var(--black-color);
  justify-content: center;
  align-items: center;
}

.main-header .title {
  color: var(--white-color);
  font-size: var(--font-size-title);
  font-weight: var(--font-bold);
}

.cars-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 300px;
}

.main-label > .text {
  display: block;
  font-size: var(--font-size-normal);
  font-weight: var(--font-medium);
  color: var(--black-color);
  margin-bottom: 5px;
}

.main-label > .input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: var(--black-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
}

.main-label > .input:focus {
  border-color: transparent;
  outline: 2px solid var(--primary-color);
}

.main-label.-color {
  display: flex;
  align-items: center;
  width: fit-content;
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-color);
  overflow: hidden;
}

.main-label.-color > .text {
  margin: 0;
  padding: 9px;
}

.main-label.-color > .color {
  background-color: transparent;
  appearance: none;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.main-label.-color > .color::-webkit-color-swatch {
  border-radius: 4px;
  border: none;
}
.main-label.-color > .color::-moz-color-swatch {
  border-radius: 4px;
  border: none;
}

.main-button {
  border: none;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  font-size: var(--font-size-normal);
  font-weight: var(--font-bold);
  padding: 10px;
  max-width: 150px;
  width: 100%;
  align-self: center;
  cursor: pointer;
  transition: background-color 100ms ease-in;
}

.main-button:hover {
  background-color: var(--btn-hover-color);
}

.cars-table {
  min-width: 600px;
  border-spacing: 0;
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  border-radius: var(--border-radius);
  overflow: hidden;
  align-self: start;
}

.cars-table > thead {
  background-color: var(--black-color);
  color: var(--white-color);
}

.table-row > th {
  font-size: var(--font-size-normal);
  font-weight: var(--font-medium);
}

.table-row:nth-child(2n) {
  background-color: var(--light-gray-color);
}

.table-row > th,
.table-row > td {
  padding: 10px 15px;
  text-align: center;
}

.no-car {
  text-align: center;
  height: 400px;
}

.no-car > td > img {
  width: 300px;
}

.no-car > td::after {
  content: 'Nenhum carro registrado';
  display: block;
  margin-top: 25px;
  font-weight: var(--font-regular);
  font-size: var(--font-size-normal);
  color: var(--black-color);
}

.toast {
  text-align: center;
  position: fixed;
  inset-block-end: 30px;
  inset-inline-start: 50%;
  transform: translateX(-50%);

  background-color: #10A81F;
  color: var(--white-color);
  font-size: var(--font-size-normal);
  font-weight: var(--font-medium);
  padding: 10px 20px;
  border-radius: var(--border-radius);

  visibility: hidden;
  opacity: 0;
  transition: all 1.5s cubic-bezier(.18,.89,.32,1.28);
}

.toast.-show {
  visibility: visible;
  opacity: 1;
}
